<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title goes here</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <style>
        .flex {
            display: flex;
            flex-direction: row;
        }
    </style>
</head>
<body>
<div id="container mt-5">
    <nav class="navbar navbar-light bg-light">
        <form class="form-inline mt-5" th:action="@{'/v1/person/view'}" method="get" style="margin: auto;">
            <div class="input-group">
            <input class="form-control mr-sm-2" style="width: 600px" type="search" placeholder="Search" aria-label="Search" th:name="name">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </div>
            <div class="input-group">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
<!--                            <h2 th:text="${param.name != null} ? 'Hello' : 'Something else'"></h2>-->
                            <a class="page-link" th:href="@{'/v1/person/view'}"
                               th:style="${param.name != null} ? 'display:block' : 'display:none'">
                                HOME
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" th:href="@{'/v1/person/view?pageNumber=' + ${responseEntity.page['currentPage'] - 1} + '&pageSize=50'}"
                               th:if="${responseEntity.page['currentPage'] < responseEntity.page['totalPages']}"
                               th:style="${param.name != null} ? 'display:none' : 'display:block'">
                                Previous
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" th:href="@{'/v1/person/view?pageNumber=' + ${responseEntity.page['currentPage'] + 1} + '&pageSize=50'}"
                               th:if="${responseEntity.page['currentPage'] < responseEntity.page['totalPages']}"
                               th:style="${param.name != null} ? 'display:none' : 'display:block'">
                                Next
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </form>
    </nav>


    <!-- Pagination control -->
    <!-- Hardcoding the default page-size as 10. User can create a dropdown to select the different page-sizes. -->
    <div class="row">
        <div th:if="${responseEntity.page['totalPages'] > 1}">
            <div>
                Total Items: [[${responseEntity.page['totalPages']}]]
            </div>
            <div>
                <span th:each="i: ${#numbers.sequence(0, responseEntity.page['totalPages']-1)}">
                    <a th:href="@{'/v1/person/view?pageNumber=' + ${i} + '&pageSize=50'}"
                       th:if="${responseEntity.page['currentPage'] != i}">[[${i}]]</a>
                    <span th:unless="${responseEntity.page['currentPage'] != i}">[[${i}]]</span>
                </span>
            </div>
        </div>
    </div>
    <hr/>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Photo URL</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="person : ${responseEntity.people}">
            <td th:text="${person.id}"></td>
            <td th:text="${person.name}"></td>
<!--            <td th:text="${person.photoUrl}"-->
            <td ><img th:src="${person.photoUrl}"/></td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>